input {
    margin: 5px;
    min-height: 2rem;
    min-width: 15rem;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
}


input:valid:not(.submitButton) {
    border-color: green;
}

input:invalid {
    border-color: red;
}